#container {
  position                 : absolute;
  top                      : 50%;
  left                     : 50%;
  transform                : translate(-50%, -50%);
  overflow                 : scroll;
  border                   : 1px solid blue;
}

#can {
  border-style : 1px solid blue;
}
